* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(155deg, rgba(66,65,68,1) 0%, rgba(53,52,56,1) 32%, rgba(5,5,5,1) 80%);
}